---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import type { Project } from "../types";
import "../styles/project.css";

const {
  title,
  description,
  tags,
  img,
  parentURL,
  techStack,
  features,
  website,
} = Astro.props as Project;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <Nav />
    <header style={`background-image:url(${img})`} class="hero">
      <div class="overlay"></div>
      <h1 class="title">{title}</h1>
    </header>
    <div class="leadIn">
      <div class="wrapper">
        {tags.map((t) => <span class="tag">{t}</span>)}
        <h3 class="tagline">{description}</h3>
      </div>
    </div>
    <div class="wrapper">
      <div class="content tech-stack">
        <h3>Tech Stack:</h3>
        <ul>
          {techStack.map((item) => <li>{item}</li>)}
        </ul>
        <h3>Features:</h3>
        <ul>
          {features.map((item) => <li>{item}</li>)}
        </ul>
        <h3>Website:</h3>
        <a href={website.url} target="_blank">{website.displayText}</a>
      </div>
    </div>
    <!-- <div class="center">
      <a href={parentURL} class="button"> View More </a>
    </div> -->
    <Footer />
  </body>
</html>
